.center-body {
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
	z-index: -100;
	background: rgb(223, 178, 119);
	opacity: 0;
	animation-fill-mode: forwards;
	animation: opacity_loader 3s;
	position: fixed;
}
.loding-logo-header{
    display: flex;
    justify-content: space-around;
}
.logo-header-load{
    width: 50%;
    padding: 5px 0;
}

@keyframes opacity_loader {
	0% {
		opacity: 0.9;
		z-index: 200;

	}

	70% {
		opacity: 0.9;
		z-index: 200;


	}

	100% {

		opacity: 0;
		z-index: -100;
	}


}
