@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
    --font: 'Lato', 'Shrikhand' sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.logo-header{
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 50%;
    padding: 5px 0;
}

main {
    padding: 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.nav {
    display: flex;
    padding: 15px 0;
    flex-direction: row;

}

.img-tea {

    width: 100%;
    object-fit: cover;
    position: sticky;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}



.title-n1 {
    font-size: 20px;
    font-family: Lato;
    color: rgb(78, 54, 43);
    padding: 10px 10px 0 10px;
}

.container {
    display: flex;
    flex-direction: row;
}

.img-tea-logo {
    width: 85%;

}

.container-bloc {
    border-radius: 30px 30px 0 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: -50px;
    position: relative;
}

main {
    padding: 0;
    background-color: #F6F6F6;
}

.container-title {
    padding: 25px 25px 0;
    font-family: Lato;
    font-size: 20px;
    color: rgb(78, 54, 43);
    font-weight: 700;
}
h2{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
}
.text-font-normal {
    font-weight: 300;
    font-size: 16px;
}
.form_1{
    display: flex;
    flex-direction: column;
    text-align:left;
}
label {
    max-width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    font-family: Lato;
    color: rgb(78, 54, 43);}
input{
    margin-top: 10px;
    border-style: hidden;
    border-bottom: 1px solid;
    color:  rgb(193 193 193);
    -webkit-appearance: none;
}
.btn-1{
    text-align: center;
}
.btn-2{
    text-align: center;
    margin-top: 15px;
}
.btn-tangerine{
    background-color: rgb(100 148 65);;
    color:#fff;
    font-family: Lato;
    font-weight: 700;
    border:none;
    border-radius: 5px;
    padding: 12px 115px;
}
.mdp-oublier{
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 12px;
    margin-top: 15px;
}
.btn-atomic{
    background-color: rgb(78, 54, 43);
    color:#fff;
    font-family: Lato;
    font-weight: 700;
    border:none;
    border-radius: 5px;
    padding: 12px 130px;
    margin-bottom: 10px;
}
.img-avatar{
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    margin: 10px;
    
}
.img-avatar-2{
    width:100%;
}
.btn-help{
    background-color: rgb(100 148 65);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border:none;
    cursor: pointer;
    -webkit-appearance: none;
}
.container-btn{
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
    .img-tea {
        width: 100%;
        height: auto;


    }

}